body{
    background-color: #D5E1EF;
    box-sizing: border-box;
    padding: 1rem;
}

.scanner h3{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    /* opacity: 0.8;  */
    /* padding-left: 10px;
    padding-right: 10px;  */
    color: #1f3251;
    padding: 0px 20px ;
}

.scanner p{
    font-family: "Outfit", sans-serif;
    color:#68778d;
    padding: 0px 10px ;
    /* font-weight: 400px;
    opacity: 0.7; */
    /* padding-left: 10px;
    padding-right: 10px; */
}

.scanner{
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 10px;
    position: absolute;
    margin: auto;
    inset: 0;
    max-width: 302px;
    width: 100%;
    height: 470px;
    background-color:#FFFFFF; 
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 20px 0px #88888854
}

.scanner img{
    max-width: 100%;
    border-radius: 10px;
}